$defaultColor: #B9DBF6;
$activeColor: #FFD33A;
$activeColor: #F3C569;
$active2Color: #F3C569;
$lightColor: #3BB8FF;
$deepColor: #1A64C0;
$borderColor: #3BB8FF;
$border2Color: rgba(59, 183, 255, 0.5);


@mixin box($activeColor: $defaultColor) {
    box-shadow: inset 0 0 8px #1A3BFF !important;
    border: 1px solid $borderColor  !important;
    background-color: #343C5C !important;
    color: $activeColor  !important;
}

// 按钮
.el-button {
    @include box;
}

// 输入框
.el-input__inner {
    @include box($activeColor);
}

.el-input__icon {
    color: $lightColor  !important;
}

// 下拉选择
.el-select {
    .el-select__input {
        color: $defaultColor;
    }

    .el-select__tags {
        .el-tag {
            background-color: transparent;
            color: $activeColor;
            border: none;

            .el-tag__close {
                background-color: transparent;
                color: $defaultColor;
            }
        }
    }

}

.el-select-dropdown.el-popper {

    @include box;

    .el-select-dropdown__item.selected.hover {
        color: $activeColor;
        background: linear-gradient(to right, transparent, $deepColor, transparent);
    }

    .popper__arrow {
        border-bottom-color: $borderColor;

        &::after {
            border-bottom-color: $borderColor;
        }
    }

    .el-select-dropdown__item {
        color: $defaultColor;

        &.selected,
        &.hover {
            color: $activeColor;
            background: linear-gradient(to right, transparent, $deepColor, transparent);
        }
    }
}

// 日期选择
.el-date-editor {
    .el-range-separator {
        color: $defaultColor;
    }

    .el-range-input {
        background-color: transparent;
        color: $active2Color;
    }
}

.el-picker-panel {
    @include box;

    .el-date-picker__header {

        .el-picker-panel__icon-btn,
        .el-date-picker__header-label {
            color: $lightColor;
        }

        &.el-date-picker__header--bordered {
            border-bottom: 1px solid $border2Color;
        }
    }

    .el-picker-panel__content {

        .el-date-table {
            th {
                color: $defaultColor;
                border-bottom: 1px solid $border2Color;
            }

            .el-date-table__row {
                .available {
                    color: $lightColor;

                    &.current div span {
                        background-color: $active2Color;
                    }
                }

                .in-range {
                    div {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }

                .start-date,
                .end-date {
                    div {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    span {
                        background-color: $active2Color;
                    }
                }
            }
        }
    }

    .el-date-range-picker__content.is-left {
        border-right: 1px solid $border2Color;
    }

    .popper__arrow {
        border-bottom-color: $borderColor  !important;

        &::after {
            border-bottom-color: $borderColor  !important;
        }
    }

    .el-year-table td .cell:hover,
    .el-year-table td.current:not(.disabled) .cell,
    .el-month-table td .cell:hover,
    .el-month-table td.current:not(.disabled) .cell {
        color: $activeColor;
    }

    .el-year-table td .cell,
    .el-month-table td .cell {
        color: $defaultColor;
    }

    .el-picker-panel__icon-btn {
        color: $lightColor;
    }
}

// 多选框
.el-checkbox {
    .el-checkbox__label {
        color: $defaultColor;
    }

    .el-checkbox__input.is-checked {
        .el-checkbox__inner {
            border-color: $activeColor;
            background-color: $activeColor;
        }
    }

    &.is-checked {
        background: linear-gradient(to right, transparent, $deepColor, transparent);

        .el-checkbox__label {
            color: $activeColor;
        }
    }
}

// v-region 插件
.v-region {
    .rg-default-btn {
        @include box;

        display: flex;
        align-items: center;
        justify-content: space-between;

        text-align: left;
        color: $defaultColor  !important;

        width: 200px;
        height: 36px;

        // min-width: 200px;
        // max-width: 300px;
        span:first-child {
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            // color: $activeColor;
        }

        &.rg-opened {
            span:first-child {
                color: $activeColor;
            }

        }

        // .rg-caret-down {
        //     flex: 0;
        // }
    }
}

.v-dropdown-container {
    @include box;

    .rg-header,
    .rg-search,
    .rg-level-tabs,
    .rg-results-container {
        background-color: transparent !important;
    }

    .rg-header {
        h3 {
            color: $lightColor;
        }

        button {
            color: $lightColor;

            &:hover {
                color: $activeColor;
            }
        }
    }

    .rg-search {
        .rg-input {
            background-color: rgba(255, 255, 255, 0.2);
            color: $activeColor;
        }
    }

    .rg-level-tabs {
        ul {
            border-bottom: 1px solid $border2Color;

            li.active::after {
                background-color: $borderColor;
            }
        }

        a {
            color: $defaultColor;
        }

        .active {
            a {
                color: $borderColor;
                // background-color: rgba(255, 255, 255, 0.2);
                background-color: transparent;
            }
        }
    }

    .rg-results-container {
        .rg-results {
            background-color: transparent;

            .rg-item {
                color: $defaultColor;

                &:hover,
                &.active {
                    color: $activeColor;
                    background-color: transparent;
                }
            }

            .rg-message-box {
                color: $defaultColor;
            }
        }
    }
}